@import url("https://github.com/yuson-mm/BDN_pertama/blob/master/index.html");
$gray: #707070;
$darkPink: #fe6e6e;
$red: #fddcdc;
$white: #ffffff;
$black: #000000;
$red: #ff6666;

$franklin: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
